
.carousel-img {
    width: auto;
    /* Default size */
    height: 900px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* background-color: rgba(0, 0, 0, 0.5);  */
    border-radius: 50%;
    /* Makes controls circular */
    width: 40px;
    height: 40px;
    transition: transform 0.4s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    /* background-color: rgba(16, 16, 16, 0.8);  */
    transform: scale(1.12);
}

.carousel-control-prev {
    width: 60px;
    height: 60px;
}

.carousel-control-next {
    width: 60px;
    height: 60px;

}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
    outline: none;
    /* Removes the outline from the control buttons */
}

/* Slide-specific Styling */
.slide-one {
    filter: brightness(90%);
    /* Makes the first slide slightly darker */
}

.slide-two {
    filter: sepia(20%);
    /* Gives a sepia tone to the second slide */
}

.slide-three {
    filter: contrast(120%);
    /* Increases contrast on the third slide */
}



/* Media Queries for Responsiveness */
@media (max-width: 810px) {
    .heading img {
        width: 100px;
        /* Adjusted size for 810px */
        height: auto;
    }
}

@media (max-width: 768px) {
    .heading img {
        width: 100px;
        /* Adjusted size for tablets */
        height: auto;
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .heading img {
        width: 80px;
        /* Adjusted size for mobile */
        height: auto;
    }
}