@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

.nav-brand {
    align-content: center;
    justify-content: center;
    padding-top: 1rem;
    height: auto;
    width: 10rem;
}

.section {
    margin: 0 auto;
    padding: 6rem 0 1rem;
}

.container {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.centered {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1rem;
}

.heading-xl {
    font-family: inherit;
    font-size: clamp(2.648rem, 6vw, 4.241rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
}

.heading-lg {
    font-family: inherit;
    font-size: clamp(2.179rem, 5vw, 3.176rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
}

.heading-md {
    font-family: inherit;
    font-size: clamp(1.794rem, 4vw, 2.379rem);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -1px;
}

.heading-sm {
    font-family: inherit;
    font-size: clamp(1.476rem, 3vw, 1.782rem);
    font-weight: 600;
    line-height: 1.5;
}

.heading-xs {
    font-family: inherit;
    font-size: clamp(1.215rem, 2vw, 1.335rem);
    font-weight: 500;
    line-height: 1.5;
}


.btn {
    display: inline-block !important;
    text-decoration: none !important;
    background: transparent;
    font-size: 18px !important;
    font-weight: 400 !important;
    padding: 13px 35px 12px !important;
    position: relative !important;
    z-index: 1 !important;
    border: none !important;
    border-radius: 0 !important;
}

.btn {
    color: #fff;
}

.btn:hover {
    color: #0029CF;
}

.btn:hover::before {
    opacity: 1;
    transform: scale(1);
}

.btn:hover::after {
    opacity: 1;
    transform: scale(1);
}

.btn::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 1, 0% 100%, 101% 100%);
    transform: scale(0);
    transform-origin: bottom left;
    background: #ffff;
    pointer-events: none;
    transition: .5s;
    z-index: -1;
    opacity: 0.5;
}


.btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    clip-path: polygon(0 1, 101% 0%, 100% 100%);
    transform: scale(0);
    transform-origin: top right;
    background: #ffffff;
    pointer-events: none;
    transition: .5s;
    opacity: .5;
    z-index: -1;
    height: 100%;

}

.paragraph {
    font-family: inherit;
    font-size: clamp(1rem, 2vw, 1.125rem);
    text-wrap: balance;
    color: #000;
}

/* Header Section */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 6rem;
    margin: 0 auto;
    transition: all 0.35s ease;
}

.header.on-scroll {
    background: transparent;
    box-shadow: var(--shadow-medium);
}

.header.on-scroll .menu-item {
    color: #0029CF;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 1.25rem;
    width: 100%;
    height: 4.25rem;
    margin: 0 auto;
}

.menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 5rem 0 1rem;
    overflow: hidden;
    background-color: #fff;
    box-shadow: var(--shadow-medium);
    transition: all 0.4s ease-in-out;
}

.menu.is-active {
    top: 0;
    width: 100%;
    height: auto;
}

.menu .is-active li {
    color: #000;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    padding: 0;
}

.menu-link {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    transition: all 0.3s ease;
    color: #ffffff;
}

.menu-link:hover {
    color: #0029CF;
    text-decoration: none;
}

.btn.nav-btn {
    transition: all ease 1s;
}

.on-scroll .btn.nav-btn {
    color: #0029CF;
}

.on-scroll .btn.nav-btn:hover {
    color: #ffffff;
}

.on-scroll .btn::before{
    background: #0029CF;
}
.on-scroll .btn::after{
    background: #0029CF;
}
@media only screen and (min-width: 48rem) {
    .menu {
        position: relative;
        top: 0;
        width: auto;
        height: auto;
        padding: 0rem;
        margin-left: auto;
        background: none;
        box-shadow: none;
    }

    .menu-inner {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        margin: 0 auto;
    }

    .menu-link {
        text-transform: capitalize;
    }

    .menu-block {
        margin-left: 2rem;
    }
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    order: -1;
    z-index: 10;
    width: 1.6rem;
    height: 1.15rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;
}

@media only screen and (min-width: 48rem) {
    .burger {
        display: none;
        visibility: hidden;
    }

}

.burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 1rem;
    transform: rotate(0deg);
    background-color: #1b1b1c;
    transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
    top: 0px;
}

.burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}

.burger-line:nth-child(3) {
    top: 1rem;
}

.burger.is-active .burger-line:nth-child(1) {
    top: 0.5rem;
    transform: rotate(135deg);
}

.burger.is-active .burger-line:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.burger.is-active .burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-135deg);
}

@media screen and (max-width: 768px) {
    .header.on-scroll {
        background: #000000b3;
    }

    .header.on-scroll li {
        color: #000 !important;
    }
}