.para {
    margin-left: 160px;
    font-size: 16px;
    margin-right: 160px;
    font-family: "Raleway", sans-serif;
    color: #21386D;
    padding-top: 3rem;
}

.list {
    margin-left: 190px;
    font-size: 20px;
    margin-right: 190px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #21386D;
}

.highlight {
    font-weight: bold;
}

.facilities {
    color: #981B1E;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .para, .list {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 14px;
    }

    .facilities {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .para, .list {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
    }

    .facilities {
        font-size: 16px;
    }
}