.footer {
    width: 100%;
    box-shadow: 0 0 5px rgb(96, 96, 96);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.first-footer {
    padding: 0 4rem;
}
.footer-link-1, .footer-link-2, .footer-link-3 {
    display: flex;
    flex-direction: column;
}
.footer-link-heading{
    margin-left: 0;
    padding-left: 0;
    font-size: 1.2rem;
    font-family: "Raleway", monospace;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}
.footer-link-text{
    font-size: 1rem;
    font-family: "Raleway", monospace;
    font-weight: 400;
    color: #21386D;
    margin-bottom: 0.5rem;
}
.footer-link-text:hover{
    text-decoration:none;
    transition: .3ms ease;
    color: #FF6B6B;
    cursor: pointer;
}

@media (max-width: 480px) {
    .footer{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
        width: 100%;
        gap: 10px;
    }
    .footer-link-1, .footer-link-2, .footer-link-3 {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

}