.taxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #21386D;
  }

  .client-feedback {
    font-size: 3.5rem;
    font-weight: 20rem;
    font-family: "Merriweather", serif;
    text-align: center;
  }

  .bi-quote {
    font-size: 4rem;
    color: #000000;
  }
  /* Hover effect */
  .bi-quote:hover {
    color: #6f6f6f;
    transform: scale(1.05);
    transition: transform 0.4s ease, color 0.4s ease;
  }

  .quote-icon.one {
    display: inline-block;
    color: #333;
    transition: transform 0.7s ease;
  }
  
  .quote-icon.one:hover {
    transform: scale(1.2);
  }
  
  .quote-icon.two {
    display: inline-block;
    color: #333;
    transition: transform 0.7s ease;
    transform: rotate(-180deg);
  }
  
  .quote-icon.two:hover {
    transform: scale(1.2) rotate(-180deg);
  }

  @media (max-width: 950px) {
    .taxt {
        display: none; /* Hides HereFrom on screens less than 430px wide */
    }
  }