
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}



@media screen and (min-width: 576px) {
  .carousel-inner{
    display: flex;
  }
  .carousel-inner{
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/3);
  }
  }
  .carousel-inner{
   padding: 1rem;
  }
  .card{
    margin: 0 .5rem;
  }