
a{
    color: 21386D;
    text-decoration: none;
 }
.information{
    display: flex;
    justify-content: end;
    color: 21386D; 
    gap: 20px ; 
    padding-top: 20px;
    padding-left: 800px;
}

.fotm-part{
   background-image: url(image 12.png);
}
.btn{
    background-color: brown;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: all 0.3s;
}
.btn :hover{
    transform: scale(1,15);
}