.main-heading {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading-text{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    color: #21386D;
   padding-left: 80px;
}

.catchy-text {
    color: #981B1E;

}

.sub-heading {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
   padding-left: 80px;
}

.view-link{
    text-align: center;
}
.view-btn {
    display: inline;
    padding: 0.5rem 1rem;
    background-color: #21386D;
    text-decoration: none;
    color: #ffffff;
    margin-top: 5rem;
    outline: none;
    text-shadow: none;
    border-radius: 10px;
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .main-heading {
        margin-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .heading {
        font-size: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }


    p {
        font-size: 0.9rem;
        padding-top: 2rem;
    }

    .sub-heading {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .main-heading {
        /* margin-left: 1rem; */
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .heading {
        font-size: 0.95rem;
    }

    .heading img {
        width: 80px; /* Adjusted size for mobile */
    }

    p {
        font-size: 0.8rem;
        padding-top: 1rem;
    }

    .sub-heading {
        font-size: 0.8rem;
    }
}