.main-heading {
    padding-top: 4rem;
    padding-bottom: 4rem;
  
}

.heading {
    
    display: flex;
   flex-direction: row;
   align-items: center;
}
.heading-text{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    color: #21386D;
    margin-left: 7rem;
}

.catchy-text {
    color: #981B1E;
   
}

.book-img {
    width: 10px; /* Set the width of the image */
    height: 10px; /* Maintain the aspect ratio */
    transition: transform 0.3s ease;   
  }
  
  .book-img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  

.sub-heading {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    margin-left: 7rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .main-heading {
        margin-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .heading {
        font-size: 1.2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    

    p {
        font-size: 0.9rem;
        padding-top: 2rem;
    }

    .sub-heading {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .main-heading {
        margin-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .heading {
        font-size: 1rem;
    }

    .heading img {
        width: 80px; /* Adjusted size for mobile */
    }

    p {
        font-size: 0.8rem;
        padding-top: 1rem;
    }

    .sub-heading {
        font-size: 0.8rem;
    }
}